<h1>All Characters</h1>


<% @characters.each do |character| %>
  <%= link_to "#{character.name} (House #{character.house.name})", house_character_path(character.house, character), class: 'link'%>
  <br>
  <br>
<%end%>

</ul>
