<h1><%= @character.name %></h1>

<div class="character">
  <%= image_tag(@character.img_url)%>
  <p>Title: <%= @character.title%></p>

    <% if @character.is_alive == true %>
      <p>ALIVE</p>
    <% else %>
      <p>Dead</p>
    <% end %>

    <%= link_to "(Edit)", edit_house_character_path(@house, @character), class: 'link'%>


</div>
